In [1]:
#pip install xgboost

Collecting xgboostNote: you may need to restart the kernel to use updated packages.
  Downloading xgboost-2.0.2-py3-none-win_amd64.whl (99.8 MB)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from xgboost) (1.22.4)
Requirement already satisfied: scipy in c:\users\user\anaconda3\lib\site-packages (from xgboost) (1.7.1)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.2

# Xgboost Regressor

In [26]:
import numpy as np
import pandas as pd
import time

In [3]:
df = pd.read_csv('bangluru_housing.csv')

In [4]:
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,360000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,400000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,402101,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,400000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,325000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [33]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import r2_score
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [8]:
model = XGBRegressor()

In [10]:
x= df.iloc[:,1:]
y = df.iloc[:,0]

In [11]:
x

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [12]:
y

0        221900
1        538000
2        180000
3        604000
4        510000
          ...
21608    360000
21609    400000
21610    402101
21611    400000
21612    325000
Name: price, Length: 21613, dtype: int64

In [15]:
np.mean(cross_val_score(model,x,y,cv=10,scoring='r2'))

0.882541527106356

In [20]:
model2 = RandomForestRegressor(max_depth=2)

In [21]:
np.mean(cross_val_score(model2,x,y,cv=5,scoring='r2'))

0.5397371562542338

In [22]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [23]:
model = XGBRegressor()

In [32]:
start = time.time()
model.fit(x_train,y_train)
print("score = ",r2_score(model.predict(x_test),y_test))
print("time = ",time.time()-start)

score =  0.8830930168864985
time =  0.26853442192077637

In [34]:
modelGB = GradientBoostingRegressor()
start = time.time()
modelGB.fit(x_train,y_train)
print("score = ",r2_score(modelGB.predict(x_test),y_test))
print("time = ",time.time()-start)

score =  0.8353556903615034
time =  5.307943344116211

# Xgboost Classifier

In [35]:
import numpy as np
import pandas as pd
import time
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [37]:
df = pd.read_csv('mnist_train.csv')

In [43]:
d = df.sample(10000)

In [44]:
x = d.iloc[:,1:]
y = d.iloc[:,0]
x.head()
y.head()

23665    7
31787    0
30327    5
22407    7
14869    5
Name: label, dtype: int64

In [45]:
start = time.time()
model = XGBClassifier()
np.mean(cross_val_score(model,x,y,cv=10,scoring='accuracy'))

0.951

In [46]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [47]:
model = XGBClassifier()

In [48]:
start = time.time()
model.fit(x_train,y_train)
print("accuracy = ",accuracy_score(model.predict(x_test),y_test))
print("time = ",time.time()-start)

accuracy =  0.9545
time =  70.74747085571289